.temperature-btn {
  cursor: pointer;

  &--active {
    background-color: rgba($color-white, 0.25);
    position: relative;

    &::before {
      content: "";
      background-color: $color-white;
      position: absolute;
      width: 2px;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
}
