/*
**  Font size variables 
*/
$default-font-size: 1.6rem;

/*
** Colors variables 
*/

$primary-dark-color: hsl(300, 43%, 22%);
$primary-light-color: hsl(333, 80%, 67%);

$Neutral-dark-color: hsl(303, 10%, 53%);
$Neutral-light-color: hsl(300, 24%, 96%);

$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
